<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag('application')%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link  href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>    
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto Mono&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    
   
     <%= stylesheet_link_tag('bundlesReact')%>   
  </head>
  <body>
     
    <main class="flex items-center justify-center" >
      <%= yield %>
    </main>
    <script src="https://cdn.tailwindcss.com"></script>   
    <%= javascript_include_tag "bundleAuth" %>
    <%= javascript_include_tag "bundleHeader" %>
    <%= javascript_include_tag "bundleJournalEntries" %>
    <%= javascript_importmap_tags %>
  </body>    
</html>
